.banner{
  padding-top: 30rpx;
  swiper{
    height: 460rpx;
    swiper-item{
      .banner-img{
        width: 690rpx;
        height: 460rpx;
        border-radius: 30px;
      }
    }
  }
}

.scroll-nav{
  .nav-view{
    white-space: nowrap;
    .nav-navi{
      display: inline-block;
      padding: 20rpx 20rpx; 
      .nav-item{
        width: 105rpx;
        height: 105rpx;
        .nav-img{
          width: 100%;
          height: 100%;
        }
        .nav-text{
          font-size: 30rpx;
          text-align: center;
          color: var(--globalColor);
        }
      }
    }
  }
}

.about{
  margin-top: 50rpx;
  padding: 50rpx 0;
  background-image: url("https://mp-4c9a79f2-5d74-4a5d-9b5b-064a6d35e388.cdn.bspapp.com/ahhcha/list1-img1.jpg");
  .content{
    .text{
      line-height: 1.6em;
      text-indent: 2em;
    }
  }
}

.news{
  margin-top: 50rpx;
}