.box{
  height: 120rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20rpx;  
  border-bottom: 1px solid var(--themeColor);
  background: #f6f1ed;
  .logo{
    height: 80rpx;
  }
}